@page
@model CandidateManagement_LeDangPhucDat_RazorPage.Pages.Candidate_RazorPage.LoginModel
@{
    ViewData["Title"] = "Login";
}

<form method="post" class="login-form">
    <input type="text" name="email" class="Email"><br />
    <input type="password" name="password" class="Password"><br />
    <button type="submit">Login</button>
</form>